# Auto detect text files and perform LF normalization
* text=auto
#git-lfs
*.png filter=lfs diff=lfs merge=lfs -text
Raum_onyl.blend filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
